<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CrashReporter">
      <section name="CrashDumper" type="RJCP.Diagnostics.Config.CrashDumper, RJCP.Diagnostics.CrashReporter"/>
      <section name="XmlCrashDumper" type="RJCP.Diagnostics.Config.XmlCrashDumper, RJCP.Diagnostics.CrashReporter"/>
      <section name="Watchdog" type="RJCP.Diagnostics.Config.Watchdog, RJCP.Diagnostics.CrashReporter"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <CrashReporter>
    <CrashDumper>
      <DumpDirectory path="${CWD}/CrashDumps"
                     ageDays="45" maxLogs="40" freeGb="5" freePercent="1" maxGb="1" minLogs="5"/>
    </CrashDumper>
    <XmlCrashDumper>
      <StyleSheet name="RJCP.Diagnostics.CrashReporter, RJCP.Diagnostics.CrashExport.Xml.CrashDump.xsl"/>
    </XmlCrashDumper>
    <Watchdog>
      <Ping stack="true"/>
      <Overrides>
        <Task name="app" warning="2000" critical="5000"/>
      </Overrides>
    </Watchdog>
  </CrashReporter>
</configuration>