<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CrashReporter">
      <section name="XmlCrashDumper" type="RJCP.Diagnostics.Config.XmlCrashDumper, RJCP.Diagnostics.CrashReporter"/>
      <section name="Watchdog" type="RJCP.Diagnostics.Config.Watchdog, RJCP.Diagnostics.CrashReporter"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <CrashReporter>
    <XmlCrashDumper>
      <StyleSheet name="RJCP.Diagnostics.CrashReporter, RJCP.Diagnostics.CrashExport.Xml.CrashDump.xsl"/>
    </XmlCrashDumper>
    <Watchdog>
      <Ping stack="true"/>
      <Overrides>
        <Task name="app" warning="2000" critical="5000"/>
      </Overrides>
    </Watchdog>
  </CrashReporter>

  <system.diagnostics>
    <sharedListeners>
      <add name="myListener" type="RJCP.Diagnostics.Trace.SimplePrioMemoryTraceListener, RJCP.Diagnostics.CrashReporter"
           Critical="100" Error="150" Warning="200" Information="250" Verbose="300" Other="100" Total="1500"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>

    <sources>
      <source name="RJCP.CrashReporter" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="RJCP.CrashReporter.Watchdog" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="myListener"/>
        </listeners>
      </source>
      <source name="CrashReporterApp" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="myListener"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" useGlobalLock="false"/>
  </system.diagnostics>
</configuration>